{
    "extends": [
        "react-app",
        "react-app/jest",
        "airbnb",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "react/react-in-jsx-scope" : 0,
        "react/jsx-filename-extension": 0,
        "prettier/prettier": [
            "error",
            {
              "endOfLine": "auto"
            }
          ],
          "jsx-a11y/click-events-have-key-events": 0
    }
}