.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 10px 14px;
    background: #1d1b31;
}

.details {
    display: flex;
    width: 0px;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.5s ease;
}

.opened {
    display: flex;
    width: 200px;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.5s ease;
}

.icon {
    min-width: 50px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.credentials {
    display: flex;
    flex-direction: column;
}

.exit {
    height: 60px;
    min-width: 50px;
    font-size: 18px;
    text-align: center;
    padding: 21px 0px;
    cursor: pointer;
}