.swapBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-grow: 1;
}

.iconButton {
    display: flex;
    font-size: 1.4rem;
    height: auto;
    width: auto;
    cursor: pointer;
    color: white;
}