.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 1.3rem 1.5rem;
    border-bottom: 1px solid lightgrey;
}

.fromGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 38%;
}

.toGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 38%;
}

.icons {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.iconButton {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    color: #9f9f9f;
}

select {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
