.translator {
  display: flex;
  flex-direction: column;
  background-color: #42004f;
  max-width: 690px;
  width: 100%;
  height: 370px;
  border-radius: 15px;
  padding: 15px 30px 30px 30px;
}
.wrapper {
  border-radius: 7px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
}

@media all and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .translator {
    padding: 20px 20px;
  }
}