:root, body {
  background-color: #E4E9F7;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}

*{
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  color: white;
  height: 100%;
}

.root {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#krm_desktop_extension {
  display: none;
}

select {
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
}

option {
  color: black;
}